body {
  background-image: url("../background.jpg");
  background-size: cover;

  display: flex;

  margin: 0px;
  padding: 0px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.content {
  display: flex;
  flex-direction: row;

  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.gameDisplay {
  height: fit-content;
  padding: 1em;

  white-space: nowrap;

  text-align: center;
  transition: 0.1s ease;
  scale: 1;

  background-color: #1c63e898;

  border-radius: 1em;

  box-sizing: border-box;
  margin: 1em;
  transition: 0.1s cubic-bezier(.17,.67,.49,1.56);
}

.gameDisplay > .gameIcon {
  height: 15em;
  display: block;
  margin: 0 auto;
  margin-top: 0.7em;
  border-radius: 1.6em;
}

.gameDisplay:hover {
  animation: getBigger;
  animation-timing-function: cubic-bezier(.17,.67,.49,1.56);
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

.starBadge {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */

  transform: translate(40%, -40%);
}

.search {
  padding: 0.5em;
  outline: none;
  margin: 0;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border: none;
  border-radius: 1em;
}

/* if you can see this message, the styling is complete */


.dropdown {
  position: relative;
  display: inline-block;
  text-align: left;
  background-color: #1851bb;
  margin: 0;
  margin-left: 0.2em;
  width: 95%;
}

.dropdown > span::after {
  content: "→";
  position: absolute;
  right: 1em;
}

.dropdown-content {
  min-width: 177px;
  opacity: 0;
  height: 0em;
  font-size: -1em;
  position: absolute;
  background-color: #1c63e8;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  transition: 0.5s ease;
  transform: translateX(100%);
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  height: auto;
  font-size: 1em;
  transform: translateX(0%);
}

.dropdown:hover > span::after {
  content: "↓";
}

/* cubic-bezier(.17,.67,.49,1.56); 
this is for the game elements animation*/



@keyframes getBigger {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.05;
  }
}